*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    bottom: 0;
    box-sizing: border-box;
}
ul,
ol,
li{
    list-style: none;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: aliceblue;
}
.wrapper{
    /* max-width: 1440px; */
    height: 100%;
    overflow-x: hidden;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
    background-image: url(assets/images/1.jpg);
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    
}
.container{
    padding: 0 20px;
    /* max-width: 1440px; */
    margin: auto;
}

/*----header-----*/
header{
    padding: 20px;
}
.header-contant{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

}
.header__player{
    display: flex;
    flex-direction: column;
}
.player__buttons{
    width: 135px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
    /* margin-right: 50px; */
}

.button{
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;

}
.button-prev{
    background-image: url(assets/icons/play-prev.svg);
}

.button-play{
    width: 45px;
    height: 45px;
    background-image: url(assets/icons/play.svg);
    background-size: 45px 45px;
}

.button-next{
    background-image: url(assets/icons/play-next.svg);
}
.playlist__item{
    list-style: decimal;
    font-size: 1.8rem;
    margin-bottom: 0.3rem;
    margin-left: 2rem;
}
.playlist__item.active{
    color: grey;
}
.header__weather{
    width: 17rem;
    font-size: 1.8rem;
}

/*----main----*/
.main{
    position: relative;
    width: 100%;
    height: 40vh;
    padding: 20px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.slider-button{
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.6;
    cursor: pointer;
}
.slider-prev{
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    background-image: url(assets/icons/slider-prev.svg);
}
.slider-next{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-image: url(assets/icons/slider-next.svg);
}
.time{
    font-size: 10rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
}
.date{
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 1.5rem;
}
.greeting{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.greeting__phrase{
    font-size: 3.6rem;
    margin-right: 1.0rem;
}
.greeting__username{
    width: 25rem;
    outline: none;
    background-color: inherit;
    border: none;
    font-size: 2.8rem;
    color: aliceblue;
}

/*----footer----*/
.footer{
    height: 30vh;
    width: 100%;
    padding: 20px;
}
.footer__container{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.update-icon{
    width: 35px;
    height: 35px;
    background-image: url(assets/icons/reload.svg);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.7;
    margin-bottom: 4.0rem;
}
.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.quote__phrase{
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1.5rem;
    font-style: italic;
}
.quote__author{
    font-size: 1.8rem;
    font-weight: 700;
}